.GridText-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

  .GridText-layout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(30%, 25rem), 2fr));
    grid-template-rows: auto;
    grid-auto-flow:column;
    grid-auto-rows: max-content;
    gap: 13px;
    margin-right: auto;
    margin-left: auto;
    & h2, h3, h4 {
        text-align: center;
        margin-bottom: 21px;
        color: var(--main-color);
    }
    & div {
     text-align: left;
      background-color: #1b1c36;
      padding: 34px 21px;
      max-width: 25rem;
      border-radius: 13px;
      color: white;
    }
    & p, ul{
        padding: 13px;
    }
  }
}
