.ImageSlider-container {
    max-width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    padding: 3% 0;
    margin: 0;
    position: relative;
    & img {
        min-width: 450px;
    }
}
.hide-image {
    display: none;
}
.current-image {
    border-radius: 0.62rem;
    box-shadow: 0 0 5px #333;
    width: 100%;
    height: 100%;
    margin: 13px;
    & .card-slide-container {
        width: 100%;
        height: 100%;
        background-color: #1b1c36;
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        padding: 21px 89px;
        border-radius: 13px;
        & .header {
            width: 100%;
            margin-bottom: 21px;
            color: cyan;
        }
        & .body {
            display: flex;
            width: 100%;
            max-width: 900px;
            padding: 34px 13px;
            & p {
                columns: 2 22rem;
                column-gap: 1rem;
                margin-right: 21px;
                text-align: left;
                color: lightcyan;
                max-height: 80%;
            }
        }
        & .footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 34px 0;
        }
    }
    & img {
        max-width: 960px;
    }
}
.ImageSlider-layout {
    display: flex;
    min-width: 100%;
    height: 100%;
    max-height: 160%;
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden;
}
.arrow-right{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 55%;
    right: 10px;
    border-radius: 50%;
    cursor:pointer;
}
.arrow-left{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 55%;
    left: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.circle-indexes {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 34px 30%;
    justify-content: center;
    justify-content: space-between;
    bottom: -3%;
}
.index-indicator {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    background-color: orangered;
}
.index-inactive {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
}

.featured-slide-container{
    display: flex;
    height: 100%;
    max-height: 100%;
    padding: 0 8px 21px;
    flex-direction: column;
    background-color: #1b1f36;
    & .body__layout__flex-divider {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header {
        width: 100%;
        height: 100%;
        background-color: #0a0a0a;
        height: 100%;
        & img{
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        padding: 21px 13px;
        color: azure;
        & h2, h3, h4 {
            text-align: center;
            color: cyan;
        }
        & ul{
            display: flex;
            gap: 55px;
            justify-content: center;
            padding-bottom: 55px;
            color: orangered;
        }
    }
    .footer {
        display: flex;
        flex-direction: row;
        margin-bottom: 13px;
    }
}
@media screen and (min-width: 760px){
    .ImageSlider-container{
        height: 100%;
        max-height: 150%;
    }
    .featured-slide-container{
        display: flex;
        flex-direction: row;
        max-width: 1120px;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        border-radius: 13px;
        & .body__layout__flex-divider {
            padding: 21px 13px 8px;
        }
        & .header {
            width: 100%;
            & img {
                width: 100%;
                height: 100%;
                aspect-ratio: 16 / 9;
            }
        }
        .footer {
            display: flex;
            flex-direction: column;
        }
    }
}
